<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <table border="1">
    <% books.forEach(function (value, key) { %>
    <tr>
      <td><%= key %></td>
      <td><%= value.title %></td>
      <td><%= moment(value.insert_timestamp).format("YYYY-MM-DD HH:mm:ss") %></td>
    </tr>
    <% }); %>
  </table>
</body>
</html>